.card__mainbox {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    width: 200px;
    height: 320px;
    border: 1px solid transparent;
}

.card__content:hover {
    border: 1px solid black;
}

.card__button {
    border-radius: 25px;
    color: white;
    text-align: center;
    background-color: lightcoral;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    width: 110px;
    height: 50px;
    border: 0;
    padding: 7px;
}

.card__price {
    font-size: 25px;
    font-weight: bold;
}

.svg__rub {
    width: 15px;
    height: 15px;
}
